# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Data
# ===============================
data/
*.xlsx
*.csv

# ===============================
# Virtual environments
# ===============================
venv/
env/
.venv/
.python-version

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Archives
# ===============================
*.zip

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDEs (optional)
# ===============================
.vscode/
.idea/

# ===============================
# Temporary files
# ===============================
*.tmp
*.bak